*.py[co]

# compiled files
*.aux
*.dvi
*.log
*.bbl
*.blg
*.gz
ISMB/main_ISMB.pdf
local/
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

Recomb/main_RECOMB.pdf

JCB/main_RNAPyro_JCB.pdf

JCB/main_RNAPyro_JCB.tdo

scripts/Figs_Bench/136id_15fold.pdf

scripts/Figs_Bench/140id_15fold.pdf

scripts/Figs_Bench/172id_15fold.pdf

scripts/Figs_Bench/189id_10fold.pdf

scripts/Figs_Bench/272id_15fold.pdf

scripts/Figs_Bench/92id_15fold.pdf

*.mut

scripts/Figs_Bench/121id_10fold_a.pdf

scripts/Figs_Bench/148id_15fold_a.pdf

scripts/Figs_Bench/17id_10fold_a.pdf

scripts/Figs_Bench/20id_15fold_a.pdf

scripts/Figs_Bench/268id_15fold_a.pdf

scripts/Figs_Bench/200id_15fold_a.pdf

scripts/Figs_Bench/160id_15fold_a.pdf

scripts/Figs_Bench/253id_10fold_a.pdf

scripts/Figs_Bench/332id_15fold_a.pdf

scripts/Figs_Bench/316id_15fold_a.pdf

scripts/Figs_Bench/325id_10fold_a.pdf

scripts/Figs_Bench/361id_10fold_a.pdf

scripts/Figs_Bench/45id_10fold_a.pdf

scripts/Figs_Bench/76id_15fold_a.pdf

scripts/Figs_Bench/77id_10fold_a.pdf

scripts/Figs_Bench/9id_10fold_a.pdf
